<h1>{{package.name}} Edit</h1>

<nav>
	<a [routerLink]="['']">Back To Home</a>
	<button (click)="save()" [disabled]="!form.valid">Save</button>
</nav>

<form [formGroup]="form">
	<!-- Validation Messages -->
	<div *ngIf="form.controls['name'].errors && (form.controls['name'].dirty || form.controls['name'].touched)">
		<div [hidden]="!form.controls['name'].errors.required">
		Name is required
		</div>
		<div [hidden]="!form.controls['name'].errors.maxlength">
		Name is limited to {{nameMaxLength}} characters
		</div>
	</div>
	<div *ngIf="form.controls['description'].errors && (form.controls['description'].dirty || form.controls['description'].touched)">
		<div [hidden]="!form.controls['description'].errors.required">
		Description is required
		</div>
		<div [hidden]="!form.controls['description'].errors.maxlength">
		Description is limited to {{descMaxLength}} characters
		</div>
	</div>
	<div *ngIf="form.controls['totalStrength'].errors">
		<div [hidden]="!form.controls['totalStrength'].errors.max">
		The total strength of package is limited to {{maxCardsStrength}}
		</div>
	</div>
	<div *ngIf="form.controls['totalCards'].errors">
		<div [hidden]="!form.controls['totalCards'].errors.max">
		The total cards in package is limited to {{maxCardsNum}}
		</div>
	</div>

	<label for="package-name">Package Name:</label>
	<input id="package-name" type="text" formControlName="name" [(ngModel)]="package.name" required [maxlength]="nameMaxLength">

	<label for="package-description">Package Description:</label>
	<textarea id="package-description" formControlName="description" [(ngModel)]="package.description" required [maxlength]="descMaxLength"></textarea>

	<label *ngFor="let card of cards">
		<input type="checkbox" [formControl]="card">{{card.cardDefinition.name}}
	</label>

	<label for="totalStrength">Total Strength:</label>
	<input type="text" id="totalStrength" formControlName="totalStrength" readonly>

	<label for="totalCards">Total Cards:</label>
	<input type="text" id="totalCards" formControlName="totalCards" readonly>
</form>
